@page
@model HeroPage

<p>@Model.HeroResponse.Hero.Name</p>
<p>@Model.HeroResponse.Hero.BirthYear</p>
<p>@Model.HeroResponse.Hero.Height</p>
<p>@Model.HeroResponse.Hero.Weight</p>
<p>@Model.HeroResponse.RequestedAt</p>

<a href="javascript:void(0)" onclick="history.go(-1);">Back to Details</a>


